[submodule "apps/qtcloud-agent"]
	path = apps/qtcloud-agent
	url = https://github.com/quanttide/qtcloud-agent.git
[submodule "packages/toolkit"]
	path = packages/toolkit
	url = https://github.com/quanttide/quanttide-agent-toolkit.git
[submodule "docs/roadmap"]
	path = docs/roadmap
	url = https://github.com/quanttide/quanttide-roadmap-of-agent-engineering.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-agent-engineering.git
