[submodule "apps/qtcloud-agent"]
	path = apps/qtcloud-agent
	url = https://github.com/quanttide/qtcloud-agent.git
[submodule "packages/toolkit"]
	path = packages/toolkit
	url = https://github.com/quanttide/quanttide-agent-toolkit.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-agent-engineering.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-agent-engineering.git
[submodule "data/roadmap"]
	path = data/roadmap
	url = https://github.com/quanttide/quanttide-roadmap-of-agent-engineering.git
[submodule "data/report"]
	path = data/report
	url = https://github.com/quanttide/quanttide-report-of-agent-engineering.git
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-agent-engineering.git
[submodule "data/library"]
	path = data/library
	url = https://github.com/quanttide/quanttide-library-of-agent-engineering.git
